.ttt-div {
    width: 5vw;
    height: 5vh;
    background-color: red;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease 0.15s;
}

.ttt-gameField {
    display: grid;
}